*, *::before, *::after {
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
} 

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    background-color: #a8bd90;
} 

.main-card { 
    margin-top: 150px;
    height: 900px;
    width: 1200px;
}

#card-header { 
    width: 100%;
    height: 80px;
    text-align: center;
    padding-top: 20px ; 
    background-color: #000;
    color: #ffff;
} 

#aside { 
    width:435px;
    height:650px;
    padding-top: 15px;
    background-color: #bdbdbd;
    font-size: small;
}  

#city-input {
    padding-left: 15px;
    cursor: pointer;
}

#add-city {
    background-color: #4381dd;
    color:#fff;
    cursor: pointer;
    margin-left: 3px;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

ul li { 
    list-style-type: none;
    margin: 10px;
    padding: 10px 0 10px 20px; 
    width: 300px;
    height: 40px;
    background-color: #ffff;
    border: 1px #adadad;
} 

li:hover {
    cursor:pointer;
} 

#weather-container {
    background-color: #ffff;
}

#current-weather { 
    padding: 30px 25px;
    width: 765px;
    height: 400px;
    line-height: 35px;
    background-color: #e9d182;
}  

#current-display-top {
    display: flex;
    padding: 15px;
}

#current-day{
    font-size: 14px;
} 

#uvi {
    width: 95px;
    padding: 5px;
}  

#weatherForecast {
    display: flex;
}  

.daily {
    margin: 7px;
}


@media (max-width: 568px) {  

    #card-header {
        text-align: left;
    }

	#aside { 
		width: 600px;
	} 
}
