*, *::before, *::after {
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
} 

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    background-color: #a8bd90;
}

.main-card { 
    margin-top: 150px;
    height: 900px;
    width: 1200px; 
}

#card-header { 
    width: 100%;
    height: 60px;
    text-align: center;
    padding: 5px;
    background-color: #000;
    color: #ffff;
} 

#aside { 
    width:435px;
    height:650px;
    padding-top: 15px;
    background-color: #f8f7f4;
    font-size: small;
}  

#city-input {
    padding-left: 5px;
    cursor: pointer;
}

#add-city {
    background-color: #4381dd;
    color:#fff;
    cursor: pointer;
    margin-left: 3px;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

ul li { 
    list-style-type: none;
    margin: 10px;
    padding: 10px 0 10px 20px; 
    width: 300px;
    height: 40px;
    background-color: #ffff;
    border: 1px #adadad;
} 

li:hover {
    cursor:pointer;
}

.col-md-8 {
    background-color: #ffff;
}

#main-weather { 
    padding: 30px 15px;
    width: 765px;
    height: 400px;
    line-height: 35px;
} 

#forecast {
    display: flex;
} 

#top {
    display: flex;
    padding: 15px;
}

#daily { 
    width: 70px;
    height: 140px;
    margin: 3px;
    padding: 10px;
    font-size: xx-small;
    text-align: center;
    background-color: #4381dd;
    color: #ffff;
    border-radius: 10px;
} 
